
*.meta
Assets/Vuforia/version.meta
Library/assetDatabase3
Library/gfu/cache/branches.yaml
Library/gfu/cache/gitlocks.yaml
Library/gfu/cache/gitstatusentries.yaml
Library/gfu/cache/gittrackingstatus.yaml
Library/metadata/b5/b514747b842be7b4793b84f6f1f70fdd.info
Library/StateCache/Hierarchy/238599-mainStage.json
Library/StateCache/SceneView/6e786e-mainStage.json
Temp/__Backupscenes/0.backup
